<div class="geral-container">


  <header>
    <h1 class="white-txt title--small logo">Becv</h1>
  </header>

  <div class="txt-container">
    <h2 class="title white-txt">Interrested in our business pricing?</h2>
    <p class="small-txt white-txt">Fill out the form to view details and we'll contact you as soon as possible.</p>
  </div>
 

  <div class="formContainer">
    <form>
      <div class="dinamicInputs">

        <div>
          <label class="white-txt label">Nome</label>
          <input type="text" class="form-input"  placeholder="Ethan Johnson">       
        </div>
        
        <div>
          <label class="white-txt label" >Company Email</label>
          <input type="email" class="form-input" placeholder="ethan@johnson.com" >    
        </div>
         
      </div>

      <div class="dinamicInputs">

        <div>
          <label class="white-txt label"  for="">Company Size</label>
          <Select name="compSize" class="form-input select-input">
              <option value="">1-10 employees</option>
              <option value="">10-50 employees</option>
              <option value="">50-100 employees</option>
          </Select>
        </div>
        
        <div>
          <label class="white-txt label" for="">Subject</label>
          <Select name="compSize" class="form-input select-input">
              <option value="">Building Landing Pages</option>
              <option value="">Lorem ipsum</option>
              <option value="">Ipsum lorem</option>
          </Select>
        </div>
        
      </div>

      <label class="white-txt label" for="">Message</label>
      <textarea name="message" id="" cols="30" rows="10" class="form-input select-input">50-100 employees</textarea>
    
      <input class="form-input form-bttn" type="submit" value = "contact Sales"> 
    </form>
  </div>
</div>