
.geral-container{
    width: 100vw;
    height: 100%;
    padding: 0 5% 2rem 5%;
    background-image: url("../assets/imgs/bg-image.svg");
    background-size: cover;
}

header{
    padding-top: 1rem;
    margin-bottom:  2rem;
}

.txt-container{
    padding: 0 2rem;
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
}

.white-txt{
    color: var(--white);
}

.title{
    font-size: calc(1.8rem * 1.2);
    margin-bottom: 1rem;
}

.title--small{
    font-size: 1.2rem;
}

.small-txt{
    font-size: 0.9rem;
}

.formContainer{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: max(10px, 2vw);
    padding: 4%;
}

.label{
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.input-container{
    margin-bottom: 1rem;
}

.form-input{
    width: 100%;
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
}

.form-input::placeholder{
    color: var(--very-light-blue);
}

.form-input:focus{
    outline: 2px solid var(--purple);
}

.form-bttn{
    color: var(--purple);
    font-weight: bolder;
    font-size: 1.25rem;
}

.form-bttn:hover{
    background-color: var(--very-light-blue);
    cursor: pointer;
}

.form-bttn:disabled{
    pointer-events: none;
}

.dinamicInputs{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*Errors*/
.error{
    outline: 2px solid rgb(193, 11, 11);
}

.error-msg{
    margin-top: 0.5rem;
    color:  rgb(160, 0, 0);
}

/**Responsivity------------------------------------------------------------*/

/*tablet*/
@media( min-width: 40rem){

    .form-input{
        padding: calc(0.9rem * 1.2);
    }
    
    .txt-container{
        width: 60%;
    }    

    .txt-container p{
        width: 80%;
        margin: auto;
    }

    .dinamicInputs{
        flex-direction: row;
    }

    .dinamicInputs div{
        width: 49%;
    }   
}

/*desktop*/
@media( min-width: 50rem){

    .geral-container{
        padding-bottom: 5vw;
    }

    .logo{
        font-size: 2vw;
    }

    .title{
        font-size: 4vw;
        margin-bottom: 1.5vw;
    }

    .small-txt{
        font-size: 2vw;
        padding-bottom: 1vw;
    }

    .formContainer{
        margin: 0 18%;
    }

    .input-container{
        margin-bottom: 2vw;
    }

    .form-input{
        padding: 1.8vw;
    }

    .label{
        font-size: 1.2vw;
    }

    .select-input{
        font-size: 1.1vw;
        color: var(--blue);
    }


    .form-input::placeholder{
        font-size: 1.2vw;
    }

    .form-bttn{
        font-size: 1.7vw;
    }
}

