<div class="container">
    <div class="main-title">
      <h2 class="title-big">Notes</h2>
      <button class="bttm dark-hover new-bttm bttm--round" routerLink = "/form">+</button>
    </div>
  
  <div class = "notes-container">
    <div class="note dark-hover" *ngFor = "let note of noteList; let i = index">
      <div [routerLink] = "['/notePage', i]">

        <div *ngIf = "note.title.length > 0; then noteTitle else noteDesc"></div>

        <ng-template #noteTitle class="note-resume">
          <h2 class=" note-text note-title">
            {{ note.title }}
          </h2>
        </ng-template>

        <ng-template #noteDesc >
            <p class=" note-text note-description">
              {{ note.description }}
            </p>
        </ng-template>

        <h3 class="note-date"> {{ note.date | date: 'shortDate' }}</h3>  

      </div>
    </div>
  </div>
</div>
  
  
<router-outlet></router-outlet>