<div class="container">
    <div class="main-title">
      <h2 class="title-big">Notes</h2>
      <button class="bttm dark-hover new-bttm bttm--round" routerLink = "/form">+</button>
    </div>
  
  <div class = "notes-container">
    <div class="note dark-hover" *ngFor = "let note of noteList; let i = index">
      <div [routerLink] = "['/notePage', i]">
        <h2 class="note-title">
            {{ note.title }}
          </h2>
        <h3 class="note-date"> {{ note.date | date: 'shortDate' }}</h3>  
      </div>
    </div>
  </div>
</div>
  
  
<router-outlet></router-outlet>