<div class="fosco-bkg">
    <div class="container">
        <button class="bttm dark-hover bttm--exit bttm--round" (click) = "exit()">x</button>
        <h2 class="title-big">New Note</h2>
        <form class="form" #f = "ngForm" (submit) = "onSubmit()">

            <label for="title">
                <fieldset class="input-container">
                    <legend>Title</legend>
                    <input id = "title" class="form-input" type="text" name="title" [(ngModel)] = "newNote.title" >
                </fieldset>
            </label>

            <label id="textarea">
                <fieldset class="input-container">
                    <legend>Description</legend>
                    <textarea id="textarea" class=" textarea form-input " name="" id="" cols="30" rows="10"  name="description" [(ngModel)] = "newNote.description"></textarea>
                </fieldset>
            </label>
            
            <input class="bttm dark-hover bttm--form" type="submit" value="Confirm">
        </form>
    </div>
</div>