
*{
    margin: 0;
    box-sizing: border-box;
}

.calc-container{
    outline: 1px solid red;
    width: 20rem;
    margin: auto;
}

.display{
    background-color: var( --dark-blue);
    height: 8rem;
    padding: 0 2rem 0 2rem;
}

.text-box{
    height: 4rem;
    position: relative;
}

.text-box2{
    background-color: blue;
    height: 4rem;
    position: relative;
}

.top-display{
    position: relative;
    top: 1rem;
    color: var( --less-dark-blue);
}

.bot-display{
    position: relative;
    top: 0.4rem;
    color: white;
}

.display-txt{
    font-size: 2.5rem;
    text-align: right;
}

.bttn-container{
    margin: 0.5rem;
    padding: 0.5rem 0;
}

.bttn-line{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.3rem;
}

.calc-bttn{
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    height: 4.5rem;
}

.calc-bttn:hover{
    cursor: pointer;
    background-color: var(--ligth-green);
}

.size-1{
    width: 4.3rem;
}

.size-2{
    width: 9rem;
}





