<div class="calc-container">
    <app-visor [fromParent] = "childValue"></app-visor>
    <div class="bttn-container">
        <app-botao [buttonValue] = "'c'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'+/-'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'%'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'+'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'7'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'8'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'9'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'x'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'4'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'5'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'6'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'-'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'1'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'2'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'3'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'+'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'0'" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "','" (buttonClicked) = "receveValue($event)"></app-botao>
        <app-botao [buttonValue] = "'='" (buttonClicked) = "receveValue($event)"></app-botao>
    </div>

</div>
