.note-description{
    margin-top: 1.5rem;
}

.note-title{
    text-wrap: wrap;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.icon{
    width: 2rem;
}

.icon:hover{
    cursor: pointer;
}

.icon--small{
    width: 1.2rem;
}

.bttm-icon{
    padding: 0 0.5rem;
}

.icons-container{
    display: flex;
    justify-content: space-between;
}

.note-bttns-container .icon:first-child{
    margin-right: 1rem;
}