<div class="container">
    <button>return</button>
    <button>Edit</button>
    <button>delete</button>
    <div class="note-container">
        <h2 class="note-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, temporibus?</h2>

        <p class="note-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum temporibus incidunt accusantium doloribus natus enim fugit quod fugiat praesentium molestias dolor eius exercitationem aperiam, fuga maxime asperiores illo consequuntur.</p>
    </div>
</div>