<div class="container">

    <div class="icons-container">
        <button class="bttm bttm-icon dark-hover" (click) = "return()"><img  class="icon--small" src="../../assets/arrow.png " alt=""></button>
    
        <div class="note-bttns-container" >
            <img  class="icon" src="../../assets/edit.png" alt="">
            <img  class="icon" src="../../assets/garbage.png" alt="">
        </div>
    </div>
   

    <div class="note-container">
        <h3 class="note-date"> {{ note.date | date: 'short' }}</h3>
        <h2 class="title-big">{{ note.title }}</h2>
        <p class="note-description">{{ note.description}} </p>
    </div>
</div>